.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    overflow: hidden;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.focus ul li {
    float: left;
}

.focus ul li img {
    width: 721px;
    height: 455px;
}


/* 并集选择器 */

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    /* 绝对定位垂直居中 */
    top: 50%;
    margin-top: -15px;
    /* 加了绝对定位的盒子可以直接设置高度和宽度 */
    width: 20px;
    height: 30px;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    line-height: 30px;
    color: #fff;
    z-index: 2;
}

.arrow-l {
    left: 0;
    /* 变圆 */
    /* border-radius: 0 15px 15px 0; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.arrow-r {
    /* 如果一个盒子既有left又有right属性，则默认会执行left，同理 top 和 buttom 会执行top */
    right: 0;
    /* 变圆 */
    /* border-radius: 15px 0 0 15px; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.circle {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -25px;
    height: 13px;
    line-height: 13px;
    background: rgba(255, 255, 255, .4);
    border-radius: 7px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer
}

.circle .current {
    background-color: #ff5000;
}

.newflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news_hd h5 {
    float: left;
    font-size: 14px;
}

.news_hd .more {
    float: right;
}

.news_hd .more::after {
    font-family: 'icomoon';
    content: '\e908';
}

.news_bd {
    padding: 5px 15px 0;
}

.news_bd ul li {
    height: 24px;
    line-height: 24px;
    /* 超出文字省略号显示 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -17px -15px;
}

.bargain {
    margin-top: 5px;
}


/* 推荐模块 */

.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_hd img {
    margin-bottom: 5px;
}

.recom_hd h3 {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    position: absolute;
    top: 10px;
    right: 0;
    content: '';
    width: 1px;
    height: 145px;
    background-color: #ddd;
}


/* 家用电器模块 */

.floor .w {
    margin-top: 30px;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    margin: 0 15px;
}

.box_bd {
    height: 361px;
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul {
    padding-left: 12px;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.col_210 a img {
    margin-top: 10px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    /* 一般情况下，a如果包含有宽度的盒子，a需要转换为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}